extend layout
block content
    p
        | Welcome to my website.
        | It is a sample site built using Node.js, Express, Stylus and Jade.
        | This will be extended as we go forward.
        | See you again. Bye.
    
    p  
        | This would probably contain some links/images later.
        | As development progresses.
        | For now, we just fill it up with some random text
    
    block sidebar
        .widget
            h1 Widget
            p
               | This is a sample widget.
               | Fill it up with whatever you like. 
            p
               | A sample text in Latin.
               | Victoria amat Curam.